body {
	background-color: #FDF6F6;
	color: #696969;
	font-family: 'Montserrat', sans-serif;
}

.header {
	background-color: #B3DBC0;
	color: #FDF6F6;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.center {
	text-align: center;
}

.player, .result {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 220px;
	padding: 20px;
	text-align: center;
}

.rps-options {
	display: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

.rps-buttons {
	background-color: #B3DBC0;
	border-radius: 4px;
}

.name-submit, .chat-submit {
	color: #696969;
}

.rps-buttons:hover {
	background-color: #67BACA;
	color: #FDF6F6;
	font-weight: bold;
}

.rps-choice {
	font-size: 40px;
	padding-top: 10px;
}

.result {
	font-size: 40px;
	padding-bottom: 65px;
	padding-top: 70px;
}

.chat {
	color: #696969;
	margin: auto;
	width: 60%;
}

.chat-input {
	width: 100%;
}

.chat-conversation-outer {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 200px;
	margin-top: 20px;
	/*overflow-x: hidden;*/
}

.chat-conversation-inner {
	margin: 10px;
	height: 90%;
	overflow-y: scroll;
}

.chat-form {
	margin-top: 10px;
}

#others-chat-name {
	color: #FE0000;
}

#own-chat-name {
	color: #67BACA;
}